
.button{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
    justify-self: center;
    margin-top: 20px;
}
.button:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}